@font-face {
  font-family: "iconfont"; /* Project id 4007235 */
  src: url('iconfont.woff2?t=1684483628819') format('woff2'),
       url('iconfont.woff?t=1684483628819') format('woff'),
       url('iconfont.ttf?t=1684483628819') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e6a7";
}

.icon-yuedureading19-copy:before {
  content: "\e629";
}

.icon-yuedujilu:before {
  content: "\e61c";
}

.icon-dianzan-mian:before {
  content: "\e632";
}

.icon-Exit-:before {
  content: "\e83d";
}

.icon-shoucangku:before {
  content: "\e641";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-github:before {
  content: "\e63b";
}

.icon-kaiyuan:before {
  content: "\e627";
}

.icon-juejin:before {
  content: "\e60b";
}

.icon-youxiang1:before {
  content: "\e631";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-phone-fill:before {
  content: "\e85f";
}

.icon-good:before {
  content: "\e673";
}

.icon-error:before {
  content: "\e64e";
}

.icon-success:before {
  content: "\e60d";
}

.icon-warning:before {
  content: "\e616";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-pinglun1:before {
  content: "\e63a";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-zhuanruzijin:before {
  content: "\e623";
}

.icon-yudu:before {
  content: "\100b0";
}

.icon-dangan:before {
  content: "\100b3";
}

.icon-tuichu:before {
  content: "\e709";
}

.icon-xingming:before {
  content: "\e70b";
}

.icon-wode1:before {
  content: "\e70c";
}

.icon-shouye1:before {
  content: "\e70d";
}

.icon-dianzan1:before {
  content: "\e70f";
}

.icon-shezhizhongxin:before {
  content: "\e712";
}

.icon-xiangmuguanli:before {
  content: "\e714";
}

.icon-renyuanguanli:before {
  content: "\e716";
}

.icon-add:before {
  content: "\e664";
}

.icon-select:before {
  content: "\e67e";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-yanjing1:before {
  content: "\e8c0";
}

.icon-browse:before {
  content: "\e666";
}

.icon-eye-close:before {
  content: "\e66f";
}

.icon-lock:before {
  content: "\e676";
}

.icon-user:before {
  content: "\e682";
}

.icon-xihuan:before {
  content: "\e61d";
}

