@font-face {
  font-family: "iconfont"; /* Project id 4007235 */
  src: url('iconfont.woff2?t=1681478234034') format('woff2'),
       url('iconfont.woff?t=1681478234034') format('woff'),
       url('iconfont.ttf?t=1681478234034') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun2:before {
  content: "\e891";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-pinglun1:before {
  content: "\e63a";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-shoucang2:before {
  content: "\e8c6";
}

.icon-zhuanruzijin:before {
  content: "\e623";
}

.icon-yudu:before {
  content: "\100b0";
}

.icon-dangan:before {
  content: "\100b3";
}

.icon-tuichu:before {
  content: "\e709";
}

.icon-xingming:before {
  content: "\e70b";
}

.icon-wode1:before {
  content: "\e70c";
}

.icon-shouye1:before {
  content: "\e70d";
}

.icon-dianzan1:before {
  content: "\e70f";
}

.icon-bianji1:before {
  content: "\e710";
}

.icon-shezhizhongxin:before {
  content: "\e712";
}

.icon-dianhua:before {
  content: "\e713";
}

.icon-xiangmuguanli:before {
  content: "\e714";
}

.icon-shangchuan:before {
  content: "\e715";
}

.icon-renyuanguanli:before {
  content: "\e716";
}

.icon-add:before {
  content: "\e664";
}

.icon-fabulous:before {
  content: "\e670";
}

.icon-home:before {
  content: "\e677";
}

.icon-history:before {
  content: "\e678";
}

.icon-select:before {
  content: "\e67e";
}

.icon-time:before {
  content: "\e681";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shouye:before {
  content: "\e8ba";
}

.icon-wodeguanzhu:before {
  content: "\e8be";
}

.icon-xiangkan:before {
  content: "\e8bf";
}

.icon-yanjing1:before {
  content: "\e8c0";
}

.icon-yixiangkan:before {
  content: "\e8c1";
}

.icon-browse:before {
  content: "\e666";
}

.icon-eye-close:before {
  content: "\e66f";
}

.icon-good:before {
  content: "\e673";
}

.icon-hide:before {
  content: "\e674";
}

.icon-lock:before {
  content: "\e676";
}

.icon-user:before {
  content: "\e682";
}

.icon-xihuan:before {
  content: "\e61d";
}

